@use '../abstracts/mixin' as*;
@use '../base/variable' as*;

button {
    align-self: flex-end;
    margin-top: auto;
    background-color: $couleur-bouton;
    color: white;
    position: relative;
    padding: 1rem;
    padding-right: 2.5rem;
    margin-bottom: 3px;
    margin-right: 3px;
    border-radius: 8px;

    &::after {
        content: '';
        margin-left: 0.5rem;
        position: absolute;
        top: 20px;
        right: 20px;
        @include triangle("down", white, 0.5rem);
    }
}

button:hover {
    background-color: $couleur-red;
    cursor: pointer;
}